// HEADER

header{

	position: relative;
	float: left;
	width: 100%;
	height: 100%;
    margin-top: 0;	
    // margin-bottom: .5rem;

    .top-bar{
		min-height:0;
		margin-bottom: .5rem;
	}

	.title{
		float:left;
	}

	.info-bar{

		.user,.usernav{
			margin: .5rem 0 0 0;
			padding:0;
			float: right;
		}
	}

	.user{
		font-weight: 700;
		text-transform: uppercase;
		font-size: .8rem;
	}

	.user-welcome{
		display:none;
		margin: 0 .5rem;
		padding: 4px 8px;
		color:white;
		background:rgba(50,50,50,.5); //lighten($gray,20);
		-moz-border-radius: .25rem;
		border-radius: .25rem;
		font-size: .9rem;
		text-transform: none;
		font-weight: 300;
	}

	.user a:last-child{
		margin-right: 1rem;
	}

	@include clearfix;

	> div:nth-child(1){
		@include grid-span(16, 1);
	}
	> div:nth-child(2){
		display:none;
	}

	@include layout(16){
		> div:nth-child(1){
			@include grid-span(16, 1);
		}
		> div:nth-child(2){
			display:none;
		}
	}	

	@include breakpoint($mobile-break) { 
		margin-top: 1rem; 
		margin-bottom: 0rem;

		.top-bar{
			min-height:40px;
		}

	    .info-bar{
	    	padding:10px 0 0 0;
	    }

		@include layout(16){
			> div:nth-child(1){
				@include grid-span(8, 1);
			}
			> div:nth-child(2){
				@include grid-span(8, 9);
				display:inherit;
			}
		}		
	}

	@include breakpoint($tablet-break) { 
		.user-welcome{
			display: inline-block;
		}
	    .info-bar{
	    	font-size: 1rem;
	    }
		.user a:last-child{
			margin-right: 0;
		}
	}	

	@include breakpoint($desktop-break) { 
		@include layout(16){
			> div:nth-child(1){
				@include grid-span(8, 1);
			}
			> div:nth-child(2){
				@include grid-span(8, 9);
				display:inherit;
			}
		}	
	}
}