
@import "header";
@import "footer";

.container {
	position: relative;
	min-height: 100px;
  	max-width: 100%;
  	margin: 0 auto;

  	@include clearfix;

	@include breakpoint($mobile-break) {  

	}
	@include breakpoint($tablet-break) {
		max-width: 95%;
	}
	@include breakpoint($desktop-break) { 
	   max-width: $desktop-break - 40;
	}

}


// HOMEPAGE: WELCOME

.welcome {
	clear:both;
	width: 100%;


	p{margin: 0 1rem;}

	.hero{
		min-height: 250px;
	}
	
	@include clearfix;
	@include layout(16){
		> div:nth-child(1){
			@include grid-span(16, 1);
			display: none;
		}
		> div:nth-child(2){
			@include grid-span(16, 1);
				margin-top: 1rem;

		}
	}	

	@include breakpoint($mobile-break) {  
		@include layout(16){
			> div:nth-child(1){
				@include grid-span(16, 1);
				display: none;
			}
			> div:nth-child(2){
				@include grid-span(16, 1);
                
			}
		}	
	}
	@include breakpoint($tablet-break) {  
		@include layout(16){
			> div:nth-child(1){
				@include grid-span(7, 1);
				display: inherit;
			}
			> div:nth-child(2){
				@include grid-span(9, 8);
			}
		}	
	}
}


// HOMEPAGE: MISC

.misc{

	p{	
		font-size: .8rem;
	}

	@include clearfix;
	@include layout(16){
		> div:nth-child(1){
			@include grid-span(16, 1);
			margin-bottom: 1rem;
		}
		> div:nth-child(2){
			@include grid-span(16, 1);
		}
	}	

	@include breakpoint($tablet-break) {  
		@include layout(16){
			> div:nth-child(1){
				@include grid-span(8, 1);
				display: inherit;
			}
			> div:nth-child(2){
				@include grid-span(8, 9);
			}
		}	
	}
}

//




// MY PRINT JOBS

.main{
	clear:both;
	display: table;  // so we can move around divs
	width: 100%;

	.add-job-holder{
		display: none;
		position: absolute;
		top: .65rem;
		right: .65rem;
	}

	section.info{	
		display: table-footer-group;

		> div {
			// margin: 0 .5rem;
		}

		.cam{
			height:150px;
			margin: .7rem;
			@include breakpoint($mobile-break) { 
				width: 40%;
			}
			@include breakpoint($tablet-break) { 
				margin: 0;
				width: 100%;
			}
		};
	}

	section.my-jobs{

	}

	section > div{
		margin-bottom: 1rem;
	}

	@include clearfix;	
	@include breakpoint($tablet-break) { 
		.add-job-holder{display:block}
		section.info{
			display:block;
			float: left;
			width: 235px;
		}
		section.my-jobs{
			display:block;			
			margin-left: 250px;
		}
	}
}

// ADMIN

.admin{
     
	.admin-job-buttons {
		margin: 0 auto;
		margin-top: 1rem;
		width:100px;
	}
	.admin-job-buttons div{
		float: left;
		margin: 0 .5rem;
	}

	select.batch{
		display: none;
		position: absolute;
		right: 1rem;
		top: 1.25rem;
	}

	@include breakpoint($tablet-break) {
		.admin-job-buttons {
			width:100%;
		}
		select.batch{
			display: inline-block;
		}
	}
	
	.spotlight-toggle{
		position:inherit;
		clear:both;
	}
	@include breakpoint($tablet-break) {
		.spotlight-toggle{
			position:absolute;
			top: .5rem;
		   right: 1rem;
		}
	}
}



