

// BUTTONS

.clickable{
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn{

	height:36px;
	border:none;
	color:#fff;
	text-align: center;
	padding: .45rem 1rem;
}


input.btn{	padding:0; } // submit button fix

.btn.active,{
	color: white;
}
.btn.disabled{
	color: white;
}

.login{
	// padding:20px;
	background-color: $green;
}

.go{
	width: 50px;
	background-color: $green;
}

.login:hover,
.go:hover{
	@include hover($green);  
}

.read-more{
	background-color: $blue;
}
.read-more:hover{
	@include hover($blue); 
}

.close{
	padding-right: 3px;
}

// DROP MENU


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    		only screen and (-o-min-device-pixel-ratio: 3/2),
    		only screen and (min--moz-device-pixel-ratio: 1.5),
    		only screen and (min-device-pixel-ratio: 1.5) {
   .info-icon{
		//background-image: url(../../images/spriteSheet2x.png);
	}
}

