////////////////////////
// Variables Partials
////////////////////////

$mobile-break: 300px;
$tablet-break: 600px;
$desktop-break: 1024px;

$grids: 2;
//$grids: add-grid(4 at $desktop-break);
$gutters: 1;

