////////////////////////
// Variables Partials
////////////////////////

$mobile-break: 300px;
$tablet-break: 650px;
$desktop-break: 1024px;

$logo-break: 910px;
 
// colors
$box-color: rgba(255,255,255,.75);
$box-stroke: #ccc;
$text-color: #555;
$top-bar-text-color: #555;
$mini-nav-text: #fff;
$gray: #333333;
$green: #26ae5f;
$blue: #3d97d3;
$red: #c0392b;

$border-radius: .2rem;

$grids: 2;
//$grids: add-grid(4 at $desktop-break);
// $gutters: 1;
  
   