

html{
   font-size: 16px;
}

body{
	color:$text-color;
}

h1, h2{
	margin: 0;
	font-weight: 300;
}

h1 { 
	margin-left: .5rem;
	margin-top:.9rem;
	font-size: 1.2em;
}
@include breakpoint($tablet-break) { 
	h1 { 
		margin-top:.45rem;
		margin-left: 0;
		font-size: 1.7em;
	}  
}
@include breakpoint($desktop-break) { 
	h1 { 
		margin-top:.25rem;
		font-size: 2em;
	}  
}

h2{
	margin-top: .2rem;
	font-size: 1rem;
	margin-bottom: 1rem;
}

@include breakpoint($tablet-break) { 
	h2{font-size: 1.3rem}
}
@include breakpoint($desktop-break) { 
	h2 { 
		
	}  
}

p{
	font-weight:300;
}

section{
	@include clearfix;
}

a:link,
a:visited,
a:active{
	color:$text-color;
}

a:hover{
	color: darken($text-color, 100);
}

hr {
  border-top: 1px dotted lighten($gray,20);
  height: 1px;

}