
@import "uiElements";
@import "nav";
@import "tables";

html{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	height:100%;
}

body{
    background: #F1F1F1;
	font-weight: 300;
	background-image: url('../img/bg3.JPG');
}

.box{
	background: $box-color;
	margin:0 .5rem;
	margin-bottom: 1rem;
	padding:10px;
	border: 1px solid lighten($gray, 50);
	margin:0 0 1rem 0;
}

// TEXT 

.top-bar{
	color: $top-bar-text-color;
}

.title a:link,
.title a:active,
.title a:visited{
	@include transition(.25s);
	color:$top-bar-text-color;
	text-decoration:none;
}
.title a:hover{
	color:white;
	@include transition(.5s);
}



.welcome p{
	color:white;

	.welcome-text{
		font-size: 1rem;
		font-weight: bold;

		@include breakpoint($mobile-break){
			font-size: 1rem;	
		}
		@include breakpoint($tablet-break){
			font-size: 1.2rem;	
		}
		@include breakpoint($desktop-break){
			font-size: 1.5rem;	
		}
	}
}

.read-more{
	width: 130px;
	margin:25px auto;
}
