
@import "buttons";
@import "nav";
@import "tables";

html{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	height:100%;
}

body{
    background: #F1F1F1;
	font-weight: 300;
	background-image: url('../img/bg3.JPG');
}

.box{
	position: relative;
	background: $box-color;
	margin-bottom: 1rem;
	padding:10px;
	border: 1px solid lighten($gray, 50);
	margin:0 0 1rem 0;
}

// CONFIRM DIALOG

.dialog{
	position:absolute;
	left:58%;
	top:50%;
	margin:-100px 0 0 -150px;
	width: 250px;
	// height:300px;
	padding:0 1rem 1rem 1rem;

	background: rgba($gray, 0.95) ;
	color: white;

	.cancelme{
		float:right;
		display: inline-block;
		margin-right: 1.2rem;
		margin-top: .25rem;
	}
	.cancelme :link,
	.cancelme :active,
	.cancelme :visited{
		color:white;
	}


	.btn{
		float:left;
		margin-left: .5rem
	}
}

// TEXT 

.top-bar{
	color: $top-bar-text-color;
}

.title a:link,
.title a:active,
.title a:visited{
	@include transition(.25s);
	color:$top-bar-text-color;
	text-decoration:none;
}
.title a:hover{
	color:white;
	@include transition(.5s);
}

.welcome p{
	color:white;

	.welcome-text{
		font-size: 1rem;
		font-weight: bold;

		@include breakpoint($mobile-break){
			font-size: 1rem;	
		}
		@include breakpoint($tablet-break){
			font-size: 1.2rem;	
		}
		@include breakpoint($desktop-break){
			font-size: 1.5rem;	
		}
	}
}

.read-more{
	width: 130px;
	margin:25px auto;
}

.output-text{
	background:white;
	padding: .25rem .5rem;
	font-size: .9rem;
}

div.output-text{
	margin-top: -.75rem;
}




