.navicon{
		padding: 7px 7px 5px 7px;
	background-color: $blue;
}
.navicon:hover,
.navicon:active{
	@include hover($blue);  
}

.user a:link,
.user a:active,
.user a:visited{
	color:$top-bar-text-color;
	text-decoration: none; 
}
.usernav{

}

.nav{
	position:relative;
	display:none;
	width:100%;
	height: 3rem;
	background-color:#333;
	clear:both;
}

.navicon{
	position: absolute;
	right: 0;
	line-height: 1.3rem;
	margin: .5rem;

	@include breakpoint($mobile-break) {  
		display:none;
	}
	@include breakpoint($tablet-break) {  
		display:none;
	}
	@include breakpoint($desktop-break) {  
		display:none;
	}
}



@include breakpoint($mobile-break) { 
    .nav{
		display:none !important;
	}
}


.usernav ul {
	margin:0;
}

.usernav ul li{
	display: inline-block;
	color: $mini-nav-text;
	font-size: 1.1rem;
	padding:12px;
}

.usernav ul li a:link,
.usernav ul li a:active,
.usernav ul li a:visited{
	color: $mini-nav-text;
	text-decoration: none; 
}

