// BUTTONS

.clickable{
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn{
	padding: .45rem 1rem;
	height:2rem;
	border:none;
	color:#fff;
	font-size: .9rem; 
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
}

.btn.active,{
	color: white;
}
.btn.disabled{
	color: white;
}

.login{
	background-color: $green;
}

.go{
	width: 50px;
	background-color: $green;
}

.login:hover,
.go:hover{
	@include hover($green);  
}
input.btn{	padding:0; } // submit button fix


// approve button

.approve{
	position: relative;
	background-color: $green;
	width:2rem;
	
	.approve-text{
		display:none;
		margin-left: 25px;
	}

	@include breakpoint($tablet-break) { 
	    width: 110px;

	    .approve-text{
			display:inherit;	
		}
	}
}
.approve:hover{
	@include hover($green);  
	.icon-approve{ @include hover(darken($green,10))}
}
.icon-approve{
	@extend %btn-icon;
	background-color: darken($green,10);
}

// download button

.download{
	position: relative;
	background-color: $blue;
	width:2rem;
	
	.download-text{
		display:none;
		margin-left: 25px;
	}

	@include breakpoint($tablet-break) { 
	    width: 130px;

	    .download-text{
			display:inherit;	
		}
	}
}
.download:hover{
	@include hover($blue);  
	.icon-download{ @include hover(darken($blue,10))}
}
.icon-download{
	@extend %btn-icon;
	background-color: darken($blue,10);
}

// cancel button

.cancel{

	position: relative;
	background-color: $red;
	width:2rem;

	.cancel-text{
		display:none;
		margin-left: 29px;
	}
	.remove-text{
		display:none;
		margin-left: 27px;
	}

	@include breakpoint($tablet-break) { 
	    width: 110px;

	    .cancel-text,.remove-text{
			display:inherit;
		}
	}
}
.cancel:hover{
	@include hover($red);  
	.icon-close{ @include hover(darken($red,10));}
}
.icon-close{
	@extend %btn-icon;
	background-color: darken($red,10);
}

.remove-this-job{
	width:0;
}

@include breakpoint($tablet-break) { 
	.remove-this-job{
		width:180px;
	}
}

// read more button

.read-more{
	background-color: $blue;
	text-transform: uppercase;
}
.read-more:hover{
	@include hover($blue); 
}